.character_archive {
  padding-top: 5vw; 
}

.character_archive header {
  position: relative;
  margin-bottom: 0vw; /*由 character list padding-top*/
  padding: 0 4vw 0;
}

.character_archive p {
  font-size: 1.25vw;
  line-height: 2.5vw;
  padding: 0;
  margin: 0;
  text-align: left; 
  font-family: 'Sawarabi Mincho', sans-serif;
}

.character_archive p + .character_list:nth-of-type(1) {
  margin-top: 8.8vw; 
}

.character_archive .school + .school {
  margin-top: 5vw;
}

/*===============================================================================*/
@media screen and (min-width: 1024px) {
  .character_archive header {
    padding: 4vw 0vw 4vw;
    margin:0; 
  }

  .character_archive p + .character_list:nth-of-type(1) {
    margin-top: 0vw; 
  }

  /*----Text(school)----*/
  .textBox {
    display: flex;
    max-width: 100vw;
    padding: 0;
  }
  
  .textBox div {
    position: relative; 
    padding: 0 0vw 0 0vw;
    width: 50%;
  }

  .textBox div:nth-child(1) {
    padding: 0 3vw 0 11vw;
  }

  .textBox#textBox01::after {
    position: absolute;
    right: 0;
    top: 0;

    content: '';
    background-color: rgba(140, 123, 173, 0.8);
    border-radius: 1%;
    box-shadow: 10px 10px 30px rgba(91, 27, 140, 0.3),
                15px 15px 30px rgba(19, 12, 73, 0.05);
                

    width: 100%;
    height: 100%;

    z-index: -1;
    margin: 8px 255px 0 0; 
  }

  .textBox#textBox01 div:nth-child(2) {
    margin-top: -15vw; /* make the blocks locate at a upper place*/
  }
  
  .textBox#textBox02 {
    flex-direction: row-reverse; /* Note */
    margin-top: 10vw; 
    margin-bottom: 10vw;
  }

  .textBox#textBox02::after {
    position: absolute;
    display:flex;
    left: 0;
    top: 0;

    content: '';
    background-color: rgba(120, 130, 185, 0.8);
    border-radius: 1%;
    box-shadow: 10px 10px 30px rgba(26, 46, 156, 0.3),
                15px 15px 30px rgba(19, 12, 73, 0.05);
    width: 100%;
    height: 100%;

    z-index: -1;
    margin: 8px 0 0 255px; 
  }
  
  .textBox#textBox02 div{
    padding:0vw; 
    margin: 0;
  }

  .textBox#textBox02 header{
    width: 70%;
    padding-top: 7vw; 
    padding-bottom: 7vw;
    margin: auto;
  }

  .textBox#textBox02 div:nth-child(2) {
    margin-bottom: -15vw;
  }

  /*----footer----*/
  /*手機版窄版沒加 '|' 所以會換行*/
  footer br {
    content: '';
  }

  footer br:after {
    content: ' | '; 
  }
}

/*===============================================================================*/
@media screen and (max-width: 1023px) {  
  .textBox p{
    font-size: 2.3vw;
    line-height: 7vw;
    padding : 3vw 10vw 3vw;
    color: rgb(58, 42, 23); 
  }
  
  .textBox#textBox01 p {
    background-color: rgba(140, 123, 173, 0.3);
  }

  .textBox#textBox02 p {
    background-color: rgba(120, 161, 185, 0.3);
  }

  .textBox header img{
    width: 70%;
    padding-left: 30%;
  }

  .textBox#textBox02 header img{
    margin-top: 5vw;
    margin-bottom: 5vw;
  }

  .character_archive .character_list-wrap {
    margin-top:10vw;
  }

  .textBox#textBox02 .character_list-wrap a img{
    width:90%;
    padding-left: 10%;
  }
}
