@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Pacifico&display=swap');/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Noto+Serif+TC:wght@300&display=swap');
* {
    padding:0;
    margin:0;
}

body{
    background: rgba(254,227, 224,1);
}

header {
    position:fixed;
    width:100%;/*填滿瀏覽器*/
    top:0;
    padding:20px; /*加胖,順序（上下/左右）(上/左右/下) (上右下左)*/
    box-sizing:border-box;/*讓box-size不會因為paddin/border增加*/
    background :rgba(143, 61, 54, 0.5);
    z-index:100000;/*數值越大越上方*/
}

nav{
    width:60%;
    margin:auto;
    text-align:center;
}
nav ul{
    margin:0;
    padding:0;
}

nav li{
    display:inline-block;
}

nav li a{
    display:inline-block;
    padding:20px;
    color: #fff;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-weight: 600;
}

nav li a:hover{
    color: rgba(242, 240, 195, 1);/*rgba(144,8,150,1);*/
}
/*========================section========================*/
section{
    position:relative;
    width: 80%;
    height: 500px;
    overflow: hidden; /*將多出的東西切掉*/
    margin: 100px auto 0px; /*上 左右 下*/
}

.left, .right{
    position: absolute;
    box-sizing: border-box; /*讓padding往內長，不超過box*/
}

.right{
    width: 100%;
}

.left{
    width: 50%;
    /*剛剛下過absolute*/
    left: 80px;
    top: 150px;
    padding-bottom: 30px;
    z-index: 20;/*覆蓋*/
    color: rgba(253,116,104,1);
}

.left h1{
    font-size: 60px;
    line-height: 1em;
    padding-bottom: 20px;
    font-family: 'Eagle Lake', cursive; 
    font-family: 'Lora', serif;
    /*font-family: 'Pacifico', cursive;*/
    /*font-weight: 400;*/
    
}

.left p{
    width: 100%;
    color: rgba(253,116,104,0.6); /*rgba(144,8,150,1);*/
    font-family: 'Lora', serif;
    font-weight: 600;
    line-height: 1.5em;

}

/*========================article========================*/
article{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.card{
    float: left; /*自左對齊*/
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
    border: solid 5px rgba(254,227, 224,1);
    padding: 5px 0px;

    background: rgba(253,116,104,1);
    color:rgba(254,227, 224,1);

    /*Transition:   屬性   秒數  屬性 秒數*/ 
    transition: background 1s, color 1s;
    -webkit-transition: background 1s, color 1s;

}


.card:hover{
    cursor: pointer;
    background: rgb(150, 8, 105);
    color: rgba(255,255,255,0.5);

}

/*========================aside========================*/
aside{
    clear: both; /* 清除剛剛的float:left設定*/
    width: 80%;
    margin:auto;
}


.wraptext {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background: rgba(225, 223, 179, 0.8);
    border: solid 5px rgba(254,227, 224,1);
    color: rgba(123, 109, 108,1);
}

.wraptext p{
    line-height: 2em; /*2倍行距*/ 
}

.wraptext img{
    float: left; /*至左圖繞文*/
    padding-right: 20px;
}

/*========================footer========================*/
footer{
    clear: both;
    padding: 20px 0px;
    text-align: center;
    color: rgb(123, 109, 108);
    font-family: 'Noto Serif TC', serif;
}