@charset "utf-8";
@import url("../css/page1_from_0324.css");
@import url("../css/slide.css");
/* CSS Document */

*::selection{
	color: rgba(225, 224, 233, 0.8);
	background: rgba(199, 195, 195, 0.3);
}

.background2{
	width:100%;
	overflow-x: scroll; /*會滑來會去要記得加QQ*/
	background:transparent url("../imgs/bg/bg-01.jpg") no-repeat;
	/*background:rgb(26, 11, 0.6);*/
	background-size: cover;
	background-attachment: fixed;
}

.wraptext3 {
    margin: 50px auto 0px;
    float: none;
    width: 80%;
    box-sizing: border-box;
    padding: 30px;
    
	color: rgba(225, 224, 233, 0.8); 
	text-align:center;
    font-family: 'Long Cang', cursive;
}

.wraptext3 h1{
	color: rgba(186, 83, 97, 0.8); 
    font-size:x-large;
	line-height: 4em;
}

.wraptext3 h2{
	font-size: x-large;
	color: rgba(210, 185, 225, 0.8); 
}


.wraptext3 p{
	font-size:medium;
    line-height: 3em; /*2倍行距*/
	letter-spacing: 0.1rem;
	margin: 0% 20% 0%;
	text-align: left;
}

.wraptext3 p .highlight{
	text-align: left;
	color: rgba(210, 185, 225, 0.8); 
}

.wraptext3:hover{
	cursor: pointer;
}


.wraptext3 p .highlight::selection{
	color: rgba(210, 185, 225, 0.8); 
	background: rgba(199, 195, 195, 0.3);
}

.p_wave{
	text-align: center; 
	font-size: large; 
	letter-spacing: 1em;
	line-height: 2em;

	transform: scale(.9, .9);
	-ms-transform: scale(.9, .9);
	-webkit-transform:  scale(.9, .9);

    transition: transform 0.4s; 
	-ms-transform:transform 0.4s;
	-webkit-transition: transform 0.4s;

    transition-timing-function:ease-in-out; 
	-ms-transition-timing-function:ease-in-out;
	-webkit-transition-timing-function: ease-in-out;

}

.p_wave:hover{
	cursor: pointer;
	
	transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-webkit-transform: scale(1.1, 1.1);

	transition: transform 0.2s; 
	-ms-transform:transform 0.2s;
	-webkit-transition: transform 0.2s;
}

