@charset "utf-8";
/* CSS Document */

/*header*/


/*aside*/
aside{
	float:left;
	height:480px;
	width:200px;	
}
.box{
	width: 200px;
	height: 160px;
	font-size:100px;
	background: #0CF;
}

.box:hover{
	background: #26F;
	cursor: pointer;
}

.ch_bg{
	background: #36F;
}

/*section*/
section{
	float:left;
	height:480px;
	width:480px;
	background:#ddd;

	position: relative;
}
.content{
	width:480px;
	height:480px;
	background:#F60;
	display: none;

	position: absolute;
	left: 0;
	top: 0;
}

.yel{
	background: #FF0;
}
.pink{
	background: #F3C;
}