:root{
    --swiper-pagination-color: rgb(255, 255, 255);
}

.swiper-pagination-bullets {
    width: 50px;
    height: 50px;
}
.swiper-button-next { 
    color: rgb(179, 223, 236) !important;
   
    
}

.swiper-button-prev { 
    color:  rgb(179, 223, 236) !important;

}
