@charset "utf-8";

/*-----aside-----*/
aside{
	float:right;
	width:200px;	
	height:480px;
}

.box{
	width: 160px;
	height: 160px;
	border-radius: 50%;

	font-size:100px;
	text-align: center;

	background: rgb(234, 212, 235);
	color: rgb(32, 112, 155);
}

.box:hover{
	background:rgb(32, 112, 155);
	color:rgb(222, 186, 235);
	cursor:pointer;
}

.ch_bg{
	color:rgb(222, 186, 235);
	background:rgb(32, 112, 155);
}

/*-----article-----*/
article{
	float:left;
	width:480px;
	height:480px;
	
	background:#ddd;
	overflow:hidden;
}


.big{
	width:1440px;	
}


.content{
	position:relative;
	float:left; /*Required*/
	width:480px;
	height:480px;
	background:rgb(255, 153, 0);
}

.yel{
	background:rgb(255, 226, 60);	
}

.pink{
	background:rgb(255, 95, 156);
}
/*-----container-----*/
.container{
	border: 5px dotted rgb(32, 112, 155);;
	display:inline-flex;
	margin: 10px;
	align-items: center;
}
.center{
	text-align: center;
}  